.section-story{
    background-color: #D7DDEC;
    /* height: 100vh; */
    /* margin-top: 35em; */
    display: flex;
    align-items: center;
}

.card-left .title h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}


.card-left{

    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left: 5rem;
    
}
