
.card-category-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 200px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}

.card-category-list p{
    font-weight: 800;
}

.card-category-list img{
    width: 170px;
    height: 200px;
    object-fit: cover;
}

.cover img{
    object-fit: cover;
}

.recommended{
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.card-recommended{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-recommended{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.content-title{
    display: flex;
    flex-direction: column;
    /* margin-top: 0.5rem; */
}

.content-fill{
    display: flex;
    /* margin-left: 5em; */
}

.properties{
    display: flex;

    justify-content: center;
    column-gap: 20px;
    margin-top: .6em;
}

@media only screen and (max-width: 600px){
    .popular-tags{
        display: none;
    }
}   
