.section-story{
    background-color: #D7DDEC;
    height: 50vh;
    /* margin-top: 35em; */
}

.card-left .title h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

.card-left{

    margin-top: 5rem;
}
