.card-category-list{
    width: 204px;
    height: 222px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
}

.card-category-list p{
    font-weight: 800;
}

.card-category-list img{
    width: 204px;
    height: 222px;
    object-fit: cover;
}

.cover img{
    object-fit: cover;
}
