.garis{
    width: 134px;
    height: 3px;
    background-color: white;
}
.container-auth{
    height: 100vh;
    bottom: 0;
}
.p1{
    margin: 0;
    color: white;
}

.link-home:hover{
    color: #fff;
}

.button-action{
    width: 90%;
}
 .button-action:hover{
    background-color: #17324b;
 }

 /* .button-action:active{
    background-color: #17324b;
 } */

 .button-action:focus{
    background-color: #17324b;
 }