.garis{
    width: 134px;
    height: 3px;
    background-color: white;
}
.container-auth{
    height: 100vh;
}
.p1{
    margin: 0;
    color: white;
}
.btn-login{

    width: 505px!important;
    height: 75px!important;
}

.c1{
    padding-right:  80px;
}
.c2{
    padding-left: 90px;
}

