.profile-container {
    width: 55px;
    height: 55px;
    overflow: hidden;
    text-align: center;
}

.nav-article {
    display: flex;
    justify-content: space-between;
}

.back-chevron {
    display: flex;
}

.share-article {
    display: flex;
    justify-content: flex-end;
}

.likendsave {
    display: flex;
    justify-content: space-between;
}

.content-article {
    padding: 0px;
    margin: auto;
}

.content-artcle {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.title-article h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 49px;
}

.comment-wrap {
    /* margin-top: 5em; */
}
.art-content {
    height: 100%;
}
.art-content p {
    font-weight: 500;
    line-height: 30px;
}
.comment {
    display: flex;
    
}

.info p {
    font-weight: 700;
    font-size: 18px;
    margin: 6px 55px 3px 10px;
}

.info .icon {
    font-size: 25px;
}

@media only screen and (min-width: 576px) {}

.thumbnail {
    width: 595px;
    height: 370px;
    overflow: hidden;
}