.container-signup{
    height: 100vh;
    
}
.imput{
    width: 505px;
    height: 75px;
}

.sign{
    padding: 10px;
    padding-right: 230px;
}

.btn1{
    padding-top: 30px;
}

.lg{
    padding-top: 5px;
    display: flex;    
}

.lg1{
    padding-left: 35px;
    padding-right: 35px;
}