.header-articles {
    width: 100%;
    background: url('../../assets/img/BG.png');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-header-articles {
    padding: 5em;
    z-index: 999;
}

.title-header-articles h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    width: 50%;
    line-height: 74px;

    color: #0D253C;
}

.title-header-articles p {
    font-family: 'Lato';
    width: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #0D253C;
}
.title-header-articles button {
    padding: 10px 30px;
}